<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de la Commande</title>
</head>
<body>
<h1>Détails de la Commande n°<span th:text="${commande.id}"></span></h1>
<hr/>
<h2>Contenu de la commande:</h2>
<table>
    <thead>
    <tr>
        <th>Article</th>
        <th>Quantité</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ligne : ${commande.lignesCommande}">
        <td>
            <span th:if="${ligne.typeLigne == T(com.example.demo.model.TypeLigneCommande).PLAT}" th:text="${ligne.plat.nom}"></span>
            <span th:if="${ligne.typeLigne == T(com.example.demo.model.TypeLigneCommande).MENU}" th:text="${ligne.menu.nom}"></span>
        </td>
        <td th:text="${ligne.quantite}"></td>
    </tr>
    </tbody>
</table>
<hr/>
<a th:href="@{/orders}">Retour à la liste des commandes</a>
</body>
</html>