<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mettre à jour le Stock</title>
</head>
<body>
<h1>Mettre à jour le Stock pour <span th:text="${stock.produit.nom}"></span></h1>
<form th:action="@{/stock/edit}" th:object="${stock}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{produit.id}" />
    <div>
        <label for="stockActuel">Stock Actuel:</label>
        <input type="number" id="stockActuel" th:field="*{stockActuel}" required />
    </div>
    <div>
        <label for="stockMinimum">Stock Minimum:</label>
        <input type="number" id="stockMinimum" th:field="*{stockMinimum}" required />
    </div>
    <div>
        <label for="unite">Unité:</label>
        <input type="text" id="unite" th:field="*{unite}" required />
    </div>
    <button type="submit">Sauvegarder</button>
</form>
</body>
</html>