<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laisser un Feedback</title>
</head>
<body>
<h1>Laissez votre avis</h1>
<form th:action="@{/feedback/create}" th:object="${feedback}" method="post">
    <div>
        <label for="note">Note (sur 5) :</label>
        <input type="number" id="note" th:field="*{note}" min="1" max="5" required />
    </div>
    <br/>
    <div>
        <label for="commentaire">Commentaire :</label>
        <br/>
        <textarea id="commentaire" th:field="*{commentaire}" rows="5" cols="40" required></textarea>
    </div>
    <br/>
    <button type="submit">Envoyer mon feedback</button>
</form>
<a th:href="@{/client/menu}">Retour au menu</a>
</body>
</html>