<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laisser un Avis</title>
</head>
<body>
<h1>Laisser un avis pour la commande n°<span th:text="${commande.id}"></span></h1>

<form th:action="@{/feedback/sauvegarder}" method="post">

    <input type="hidden" name="commandeId" th:value="${commande.id}" />

    <div>
        <label for="note">Note (sur 5) :</label>
        <input type="number" id="note" name="note" min="1" max="5" required />
    </div>
    <br/>
    <div>
        <label for="commentaire">Commentaire :</label>
        <br/>
        <textarea id="commentaire" name="commentaire" rows="5" cols="40" required></textarea>
    </div>
    <br/>
    <button type="submit">Envoyer mon avis</button>
</form>
</body>
</html>