<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu du Restaurant</title>
</head>
<body>
<h1>Notre Menu</h1>
<a th:href="@{/client/cart}">Voir mon panier</a>
<br/><br/>

<h2>Plats Individuels</h2>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="plat : ${plats}">
        <td th:text="${plat.nom}"></td>
        <td th:text="${plat.description}"></td>
        <td th:text="${plat.prix}"></td>
        <td th:text="${plat.categorie}"></td>
        <td>
            <a th:href="@{/client/add-to-cart(platId=${plat.identifiant})}">Ajouter au panier</a>
        </td>
    </tr>
    </tbody>
</table>

<h2>Menus</h2>
<table>
    <thead>
    <tr>
        <th>Nom du menu</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menu : ${menus}">
        <td th:text="${menu.nom}"></td>
        <td th:text="${menu.description}"></td>
        <td th:text="${menu.prix}"></td>
        <td>
            <a th:href="@{/client/add-to-cart(menuId=${menu.id})}">Ajouter au panier</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>