<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
</head>
<body>
<h2>Page de connexion</h2>

<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Email:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <button type="submit">Se connecter</button>
</form>

<hr/>

<div>
    <p>Pas encore de compte ? <a th:href="@{/register}">Inscrivez-vous ici</a></p>

    <p>Ou <a th:href="@{/client/menu}">consultez le menu sans vous connecter</a>.</p>
</div>

</body>
</html>